
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!--header-->
    <div id="header_bg" class="bird-box container-fluid">
        <div class="back-bird"></div>
        <div class="logo heading-hutech">
            <label>PHÒNG ĐÀO TẠO - KHẢO THÍ</label>
            <p>Luôn đổi mới vì bạn</p>
        </div>
        <div class="fore-bird"></div>
    </div>

    <!--content-->
    <div>
        <section>
            <div id="feature1" class="container-fluid feature1">
                <div class="row">
                    <div class="col-sm-12 mt-20">
                        <h2 class="text-center">HỆ THỐNG HỖ TRỢ HỌC TẬP TRỰC TUYẾN</h2>
                        <h4 class="text-center">Hình thành phong cách học tập chủ động của sinh viên</h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><i class="icon-megaphone"></i></p>
                                <h4>THÔNG TIN HỌC TẬP</h4>
                            </div>
                            <div class="col-sm-8 col-sm-push-2">
                                <p style="text-align: justify; font-size: 16px; margin: 0;">
                                    Thông tin học tập được phân loại: toàn trường và cá nhân.
                                    <br />
                                    Tin tức được thiết kế từng ô, giúp cho sinh viên cập nhật thông tin một cách dễ dàng nhất.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><i class="icon-stats-growth"></i></p>
                                <h4>SƠ ĐỒ HỌC TẬP</h4>
                            </div>
                            <div class="col-sm-8 col-sm-push-2">
                                <p style="text-align: justify; font-size: 16px; margin: 0;">
                                    Sơ đồ học tập thể hiện quá trình học tập của sinh viên dưới góc nhìn trực quan, dễ hiểu.
                                    <br />
                                    Nhiều thông tin quan trọng được tích hợp vào sơ đồ như: điểm số, kết quả học tập, tín chỉ tích lũy, tài liệu tham khảo, v.v...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><i class="icon-bubbles5"></i></p>
                                <h4>TƯ VẤN HỌC TẬP</h4>
                            </div>
                            <div class="col-sm-8 col-sm-push-2">
                                <p style="text-align: justify; font-size: 16px; margin: 0;">
                                    Hệ thống tư vấn là chức năng được hình thành từ quá trình nghiên cứu nghiệp vụ đào tạo và kinh nghiệm giảng dạy của giảng viên, cung cấp cho sinh viên những thông tin học tập hữu ích một cách trực tuyến.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature2" class="container-fluid feature2">
                <div class="col-sm-12 text-center">
                    <label class="sentence">Đạo đức - Tri thức - Sáng tạo</label>
                </div>
            </div>
        </section>
    </div>
    <!--end content-->
</div>

