
@{
    ViewBag.Title = "FormApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top1">
    <div class="container">
        <!-- phan noi dung -->
        <div class="conten-body">
            <div style="text-align:left">
                <br>
                <br>
                <h2 class="" style="margin: 0 0 5px 0; font-size: 40px; font-weight: bold; text-align: center; color:#2396c5"> Chính sách bảo hành và đổi trả của NTSHOP</h2>
                <br>
                <p style=" margin-bottom: 0px; font-size: 16px">
                    NTSHOP rất tiếc và xin lỗi vì sự bất tiện của Quý khách khi sản phẩm không may phát sinh lỗi phải bảo hành. Hi vọng chi tiết chính sách đổi trả - bảo hành mới 2017 tại NTSHOP cũng như thông tin liên hệ các bộ phận hỗ trợ dưới đây có thể giúp Quý khách yên tâm hơn trong quá trình sử dụng sản phẩm.
                </p>
                <br>
                <ul style="margin-bottom: 0px; font-size: 0.8125em;">
                    <li>
                        <span style="font-size: 20px; color: blue;">
                        </span> Miễn phí 1 đổi 1 <b> từ 15 đến 30 ngày đầu tiên</b> khi quý khách mua điện thoại , máy tính bảng, phụ kiện.
                    </li>
                    <li>
                        <span style="font-size: 20px; color: blue;">
                        </span> Thời gian giải quyết <b> 1 đổi 1 cho sản phẩm</b> sẽ ngay lập tức ( nếu có máy nguồn).
                    </li>
                    <li>
                        <span style="font-size: 20px; color: blue;">
                        </span>  <b> Bảo hành toàn diện 12 tháng </b> tất cả lổi phần cứng ( bảo gồm lỗi nguồn, lỗi màn hình ...) cho hàng NTShop, hàng công ty.
                    </li>
                    <li>
                        <span style="font-size: 20px; color: blue;">
                        </span>  <b> Bảo hành 1 đổi 1- 12 tháng </b> theo tiêu chuẩn Apple đối với tất cả Iphone hàng NTShop, hàng công ty.
                    </li>
                    <li>
                        <span style="font-size: 20px; color: blue;">
                        </span>  <b> Cam kết đổi máy </b> nếu thời gian xử lý bảo hành quá 25 ngày.
                    </li>
                </ul>
                <p style=" margin-bottom: 0px;">
                    Liên hệ ngay <b class="" style="color:blue"> Hotline 0129.999.2629 hoặc 0163.697.771 </b> nếu quý khách có bất cứ vấn đề nào gặp phải với sản phẩm hay chưa rõ về thông tin bảo hành.
                </p>
                <br>
                <br>
            </div>
            <div class="row" style="text-align:left">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li id="oktab1default" class="active">
                                    <a href="#tab1default" data-toggle="tab" aria-expanded="true">1. Chính sách bảo hành.</a>
                                </li>

                                <li id="oktab2default">
                                    <a href="#tab2default" data-toggle="tab" aria-expanded="false">2.Chính sách đổi trả.</a>
                                </li>
                            </ul>

                            <div class="panel-body" style="background-color: white; color:#333333">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">
                                        <!-- trang 1 -->
                                        <div>
                                            <p style="text-align:center">
                                                <span style="color:#2396c5">
                                                    <span style="font-size:x-large">
                                                        <strong>Chính sách bảo hành TOÀN DIỆN sản phẩm tại NTSHOP</strong>

                                                    </span>
                                                </span>
                                            </p>
                                            <p>
                                                Áp dụng từ ngày 15/8/2017 đối với các sản phẩm là phụ kiện điện thoại, máy tính bảng, macbook"
                                                <strong></strong>" và phụ kiện do hệ thống bán lẻ NTSHOP.com kinh doanh, cụ thể như sau:
                                                <br>
                                                <br>
                                                <strong>
                                                    <em>
                                                        Ngoài chính sách bảo hành chính hãng đối với mọi sản phẩm, NTSHOP còn có những chính sách ưu đãi đặc biệt dành cho khách hàng:
                                                        <br>

                                                    </em>
                                                </strong>
                                                - Miễn phí 1 đổi 1 trong 30 ngày đầu tiên nếu sản phẩm điện thoại, máy tính , phụ kiện hàng công ty bị lỗi phần cứng do nhà sản xuất."
                                                <strong></strong>
                                                <br>
                                                - Miễn phí 1 đổi 1 trong 15 ngày đầu tiên nếy Điện Thoại , máy tính bảng , phụ kiện hàng NTSHOP bị lổi phần cứng do nhà sản xuất ( cùng màu, cùng dung lượng ...)."
                                                <strong> Không áp dụng cho Macbook</strong>
                                                <br>
                                                - Hoàn tiền trong 30 ngày đầu tiên đối với phụ kiện nếu không thích sử dụng.
                                                <strong>Không áp dụng cho Apple Airpods, Appble Mouse và Apple Pencil</strong>
                                                <br>
                                                <span style="color:#ff0000">- Thời gian giải quyết 1 đổi 1 cho sản phẩm sẽ ngay lập tức (nếu máy có nguồn).</span>
                                                <br>
                                            </p>

                                            <div class="togglett" id="tt1">
                                                <h4>
                                                    <span style="color: #2396c5">
                                                        <span style="font-size:larger">
                                                            <strong>A.Đối với phụ kiện :</strong>

                                                        </span>
                                                    </span>
                                                </h4>
                                            </div>
                                            <!-- Phan bang -->
                                            <div class="tt1" style="display: block; padding-left:10%">
                                                <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:80%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color:#2396c5; border-color:rgb(221, 221, 221); text-align:center">
                                                                <div>
                                                                    <span style="color:#000000">
                                                                        <strong>LOẠI SẢN PHẨM</strong>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <!-- HET O 1 -->
                                                            <td style="background-color:#2396c5; border-color:rgb(221, 221, 221); text-align:center">
                                                                <div>
                                                                    <span style="color:#000000">
                                                                        <strong>THỜI GIAN BẢO HÀNH</strong>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <!-- HET O 2 -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align: center">
                                                                <div>
                                                                    Bao da, Ốp lưng
                                                                    <br>
                                                                    Balo - Túi chống sống
                                                                    <br>
                                                                    Miếng lót chuột, dán chuột
                                                                    <br>
                                                                    Dán màn hình
                                                                    <br>
                                                                    Kính thực tế ảo giá rẻ
                                                                    <br>
                                                                    Gậy chụp hình, giá đở
                                                                    <br>
                                                                    Quạt, đèn led
                                                                    <br>
                                                                    Hàng khuyến mãi
                                                                </div>
                                                            </td>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Không bảo hành, chỉ bao test ở cửa hàng</div>
                                                            </td>
                                                        </tr>
                                                        <!-- het san phan dong 1 -->
                                                        <!-- SP dong 2 -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Dán cường lực</div>
                                                            </td>

                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Bảo hành 1 đổi 1 - thời hạn: 1 tháng</div>
                                                            </td>
                                                        </tr>
                                                        <!-- het sp dong 2 -->
                                                        <!-- sp dong 3 -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>
                                                                    Cục sạc, cáp, tai nge
                                                                    <br>
                                                                    Sạc, đầu chuyển Macbook
                                                                    <br>
                                                                    Smartwatch giá rẻ
                                                                </div>
                                                            </td>

                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Bảo hành 1 đổi 1 - thời hạn 6 tháng</div>
                                                            </td>
                                                        </tr>
                                                        <!-- het sp dong 3 -->
                                                        <!-- sp dong 4 -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align: center">
                                                                <div>
                                                                    Loa
                                                                    <br>
                                                                    Pin dự phòng
                                                                    <br>
                                                                    Tai nghe có dây
                                                                    <br>
                                                                    Tai nghe bluetooth
                                                                    <br>
                                                                    Cục sạc
                                                                    <br>
                                                                    Cáp kết nối
                                                                    <br>
                                                                    Sạc xe hơi
                                                                    <br>
                                                                    Chuột máy tính
                                                                    <br>
                                                                    Phụ kiện Mili, Anker, Aukey,Xiaomi
                                                                    <br>
                                                                    Camera giám sát
                                                                    <br>
                                                                    Smartwatch Apple, Sámung, Kiddy
                                                                </div>
                                                            </td>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Bảo hành chính hãng 12 tháng</div>
                                                            </td>
                                                        </tr>
                                                        <!-- het sp dong 4 -->
                                                        <!-- sp dong 5 -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align: center">
                                                                <div>
                                                                    Usb Flash
                                                                    <br>
                                                                    Usb OTG
                                                                    <br>
                                                                    Ổ Cứng di động
                                                                    <br>
                                                                    Phụ kiện Energizer
                                                                </div>
                                                            </td>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Bảo hành 1 đổi 1- thời hạn 24 tháng </div>
                                                            </td>
                                                        </tr>
                                                        <!-- het sp dong 5
                                                         -->
                                                        <!-- sp dong cuoi -->
                                                        <tr>
                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Thẻ nhớ</div>
                                                            </td>

                                                            <td style="background-color:rgb(238, 238, 238); text-align:center">
                                                                <div>Bảo hành 1 đổi 1 - thời hạn: 5 năm</div>
                                                            </td>
                                                        </tr>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <br>
                                                <p>
                                                    <span style="color:#2396c5">
                                                        - Đặc biệt tại NTSHOP, cam kết đổi phụ kiện tương đương nếu thời gian bảo hành lâu hơn 10 ngày, tính luôn chủ nhật và ngày lể
                                                    </span>
                                                    <br>
                                                    <span style="color:#2396c5">
                                                        Riêng phụ kiện sạc, cáp, NTSHOP sẽ bảo hành đổi ngay lập tức cho khách hàng
                                                    </span>
                                                </p>
                                                <!-- PHAN BAO HANH -->
                                                <p>
                                                    <strong>
                                                        1/ Các trường hợp bảo hành.
                                                    </strong>
                                                    <br>
                                                    - Sản phẩm còn nguyên vẹn tem bảo hành, không bị rách hay sửa xóa và còn trong thời hạn bảo hành.
                                                    <br>
                                                    - Sản phẩm có số sê-ri trên máy và trên phiếu phải giống nhau.
                                                    <br>
                                                    - Sản phẩm bị hư hỏng kỹ thuật được xác định do lỗi nhà xuất.
                                                    <br>
                                                    - Sản phẩm phải còn hóa đơn bán hàng của cửa hàng NTSHOP.
                                                </p>

                                                <p>
                                                    <strong>2/ Các trường hợp không bảo hành</strong>
                                                    <br>
                                                    - Sản phẩm hết thời hạn bảo hành hoặc tem bảo hành bị bong tróc hay có dấu hiệu sửa xóa.
                                                    <br>
                                                    - Sản phẩm bị hư hỏng được xác định là do lỗi người sử dụng.
                                                    <br>
                                                    - Sản phẩm có dấu hiệu tự sửa chữa trước khi mang đến bảo hành.
                                                    <br>
                                                    - Sản phẩm bị hư hại do thiên tai hay do tác động của môi trường (hỏa hoạn, lũ lụt, bụi, nắng, mưa……)
                                                    <br>
                                                    - Sản phẩm bị vô nước, ẩm mốc.
                                                    <br>
                                                    - Sản phẩm bị chảy, cháy nổ hoặc xì tụ chì.
                                                    <br>
                                                    - Sản phẩm bị hư hao, mất mác các linh phụ kiện đi kèm.
                                                    <br>
                                                    - Sản phẩm có dấu hiệu đã bị côn trùng xâm nhập do điều kiện bảo quản kém.
                                                    <br>
                                                    - Sản phẩm bị rơi, bị va đập, móp, nứt,đứt, thủng.
                                                    <br>
                                                    - Sản phẩm bị lỗi do Quý khách hàng vận chuyển hoặc lắp đặt sai quy cách.
                                                    <br>
                                                    - Sản phẩm bị đứt ngầm, gãy do tác động từ bên ngoài.
                                                    <br>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="hide-content hide">
                                            <button onclick="more('tab1default')" class="view-more btn btn-default"> xem thêm</button>
                                        </div>
                                    </div>
                                    <!-- het trang 1 -->
                                    <!-- trang so 2 DOI TRA SP -->
                                    <div class="tab-pane fade" id="tab2default">
                                        <div class="content-body" style="max-height: 100%">
                                            <p style="text-align:center">
                                                <span style="color:#2396c5">
                                                    <span style="font-size:x-large">
                                                        <strong> Chính sách đổi trả sản phẩm tại NTSHOP</strong>
                                                    </span>
                                                </span>
                                            </p>

                                            <p>
                                                - Áp dụng từ ngày 11/2/2017 đối với các sản phẩm là điện thoại, máy tính bảng <strong> hàng chính hãng ( hàng công ty )</strong> và phụ kiện do hệ thống bán lẻ NTSHOP.com kinh doanh, cụ thể như sau:
                                                <br>
                                                <br>
                                                <strong>
                                                    <em>
                                                        -Ngoài chính sách bảo hành chính hãng đối với mọi sản phẩm, NTSHOP còn có những chính sách ưu đãi đặc biệt dành cho khách hàng:
                                                    </em>
                                                </strong>
                                                <br>
                                                - <strong>Miễn phí</strong> 1 đổi 1 trong 30 ngày đầu tiên nếu sản phẩm lỗi nhà sản xuất (cùng model, cùng màu, cùng dung lượng...)
                                                <br>
                                                <span>
                                                    - Thời gian giải quyết <strong>1 đổi 1</strong> cho sản phẩm sẽ ngay lập tức (nếu máy có nguồn).
                                                </span>
                                                <br>
                                                - Khách hàng dùng thử, không thích có thể đổi trả đến <strong>85%</strong> giá máy.
                                                <br>
                                                - Hoàn tiền trong 30 ngày đầu tiên, bảo hành <strong>1 đổi 1</strong> trong 1 năm đối với phụ kiện.
                                                <br>
                                                <br>
                                                <span style="color:#2396c5">
                                                    <span style="font-size:larger">
                                                        <strong>1. Sản phẩm mới</strong>
                                                    </span>
                                                </span>
                                                <br>
                                                <img src="images/BangBaoHanh.png" alt="">
                                                <br>
                                                <strong> Các trường hợp không tiến hành đổi trả :</strong>
                                                <br>
                                                <br>
                                                - Sản phẩm không đủ điều kiện bảo hành theo quy định của hãng (rơi, vỡ, va đập, cháy chập, vào nước,…)
                                                <br>
                                                - Sản phẩm trầy (thân máy, màn hình...)
                                                <br>
                                                - Hộp sản phẩm không còn nguyên vẹn (móp méo, rách nát và dơ bẩn),số serial trên hộp và máy không trùng nhau, hộp không còn miếng lót phía trong để bảo vệ sản phẩm.
                                                <br>
                                                - Sản phẩm không còn đầy đủ hoá đơn gốc mua hàng hợp lệ + phiếu bảo hành (đối với các sản phẩm không có bảo hành điện tử)
                                                <br>
                                                - Phụ kiện đi kèm trong hộp không đầy đủ như ban đầu, không còn mới, bị trầy xước, rơi vỡ, va chạm, vào nước,…
                                                <br>
                                                <em>
                                                    <strong>
                                                        - Không áp dụng đối với sản phẩm sau: Apple Pencil, Apple TV, Apple Mouse, Apple Airpods & Macbook.
                                                    </strong>
                                                </em>
                                                <br>
                                                <br>
                                                <strong> Phí áp dụng khi máy hoàn tiền.</strong>
                                                <br>
                                                <br>
                                                - Mất vỏ hộp: thu phí 5% giá trên hóa đơn.
                                                <br>
                                                - Mất phụ kiện: thu phí 5% giá trên giá hoá đơn / mỗi món.
                                                <br>
                                                - Máy trầy xước: không áp dụng thu phí theo chính sách đổi trả, mà áp dụng thu phí theo chính sách thu máy cũ tại công ty.
                                                <br>
                                                - Quà khuyến mãi :  thu phí theo giá trị được xác định bởi Công ty.
                                                <br>
                                                <br>
                                                <!-- het phan 1 -->
                                                <!-- phan 2 quy dinh doi tra -->
                                                <span style="color:#2396c5">
                                                    <span style="font-size:larger">
                                                        <strong>2. Quy định đổi trả :</strong>
                                                    </span>
                                                </span>
                                                <br>
                                                <strong> - Máy lên nguồn :</strong>
                                                <span style="color:#2396c5">Thời gian giải quyết 1 đổi 1 cho sản phẩm sẽ ngay lập tức.	</span>
                                                <br>
                                                <strong> - Máy mất nguồn hoạc treo logo :</strong>  Thời gian giải quyết 1 đổi 1 cho sản phẩm sẽ từ 3 đến 5 ngày theo giờ làm việc, sau khi TTBH chính hãng giám định sản phẩm đủ điều kiện bảo hành đổi mới. (không áp dụng vào ngày thứ 7, chủ nhật và ngày lễ).
                                                <br>
                                                - NTSHOP chỉ giải quyết đổi trả cho sản phẩm tại cửa hàng quý khách đã mua.
                                            </p>
                                        </div>
                                        <!-- HET  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  het phan noi dung -->
    </div>
</div>