
@{
    ViewBag.Title = "FormApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />

<div class="panel panel-white col-lg-10 col-lg-offset-1">
    <div class="panel-body">
        <div class="tabbable">
            <ul id="header-tab" class=" nav nav-tabs nav-tabs-bottom">
                <li class="active"><a id="don" name="heading" href="#bottom-tab1" data-toggle="tab" aria-expanded="true" style="color: rgb(3, 155, 229);">DANH SÁCH ĐƠN</a></li>
                <li><a name="heading" href="#bottom-tab2" data-toggle="tab" style="color: black;">DANH SÁCH PHIẾU</a></li>
                <li><a id="ls" name="heading" href="#bottom-tab3" data-toggle="tab" style="color: black;">LỊCH SỬ HOẠT ĐỘNG</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="bottom-tab1">

                    <div class="panel panel-white no-border-radius col-lg-6">
                        <ul class="media-list media-list-linked">
                            <li class="media border-bottom-blue row application">
                                <div style="min-height:72px" class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-pencil6"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Đơn đề nghị xét tốt nghiệp</b></div>
                                        <div class="text-warning text-size-mini">(Có 2 đơn đang chờ giải quyết)</div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('DonDeNghiXetTotNghiep','ĐƠN ĐỀ NGHỊ XÉT TỐT NGHIỆP')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2133-maudonxinchuyencathi.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="media border-bottom-blue row application">
                                <div style="min-height:72px" class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-pencil6"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Đơn xin chuyển ca thi</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('DonXinChuyenCaThi','ĐƠN XIN CHUYỂN CA THI')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2133-maudonxinchuyencathi.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="media border-bottom-blue row application">
                                <div style="min-height:72px" class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-pencil6"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Đơn xin nhập học lại</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('DonXinNhapHocLai','ĐƠN XIN NHẬP HỌC LẠI')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2673-_don_xinnhaphoclai_new.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-white no-border-radius col-lg-6">
                        <ul class="media-list media-list-linked">
                            <li class="media border-bottom-blue row application">
                                <div style="min-height:72px" class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-pencil6"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Đơn xin tạm nghỉ học</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('DonXinTamNghiHoc','ĐƠN XIN TẠM NGHỈ HỌC')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2674-_donxintamnghihoc_lopngay_new.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="media border-bottom-blue row application">
                                <div style="min-height:72px" class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-pencil6"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Đơn xin thi để xóa điểm I</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('DonXinThiXoaDiemI','ĐƠN XIN THI ĐỂ XÓA ĐIỂM I')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2132-maudonxinthidexoadiemi.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="bottom-tab2">

                    <div class="panel panel-white no-border-radius col-lg-6">
                        <ul class="media-list media-list-linked">
                            <li class="media border-bottom-blue row application">
                                <div class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class="icon-quill4"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Phiếu hủy học phần đã đăng ký</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('PhieuHuyHocPhanDaDangKy','PHIẾU HỦY HỌC PHẦN ĐÃ ĐĂNG KÝ')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/i973-phieu-huy-hoc-phan-da-dang-ki.aspx" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-white no-border-radius col-lg-6">
                        <ul class="media-list media-list-linked">
                            <li class="media border-bottom-blue row application">
                                <div class="media-link cursor-pointer">
                                    <div class="media-left text-blue"><span class="label label-flat label-rounded label-icon border-blue text-blue-600"><i class=" icon-quill4"></i></span></div>
                                    <div class="media-body">
                                        <div class="media-heading text-semibold"><b>Phiếu rút bớt học phần đã đăng ký</b></div>
                                    </div>
                                </div>
                                <div class="collapse hide-div">
                                    <div class="contact-details">
                                        <ul class="list-extended list-unstyled list-icons">
                                            <li><i class="icon-pushpin position-left"></i><u>Mô tả</u>: </li>
                                            <li><i class="icon-clipboard2 position-left"></i><u>Thời hạn giải quyết</u>: Trong vòng 7 ngày</li>
                                            <li><i class="icon-blocked position-left"></i><u>Thời hạn hủy đơn</u>: 3 ngày kể từ ngày nộp đơn</li>
                                            <li class="row">
                                                <div class="form-group col-lg-5"><a class="btn btn-primary" onclick="taiNoiDung('PhieuRutBotHocPhanDaDangKy','PHIẾU RÚT BỚT HỌC PHẦN ĐÃ ĐĂNG KÝ')">Nộp đơn Online</a> </div>
                                                <div class="col-lg-5"><a href="http://webdaotao.hutech.edu.vn/daotao/docalls/hutech-2492-_phieurutbothocphandadangky.doc" class="btn btn-primary">Tải mẫu đơn</a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="bottom-tab3">
                    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
                    <script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>

                    <style>
                    </style>
                    <div>
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <div class="datatable-header"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><span>Tìm kiếm:</span> <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><div class="dataTables_length" id="DataTables_Table_0_length"><label><a id="xuat-pdf" class="btn btn-default">Xuất PDF</a> <a data-target="#modal_large" id="xem-don" class="btn btn-default">Xem đơn</a> <a id="huy-don" class="btn btn-default">Hủy đơn</a></label></div></div><div class="datatable-scroll">
                                <table class="table table-hover table-lg datatable-selection-single dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row"><th hidden="" class="sorting_disabled" rowspan="1" colspan="1"></th><th class="text-center sorting_disabled" rowspan="1" colspan="1">Tên đơn</th><th class="text-center sorting_disabled" rowspan="1" colspan="1">Ngày nộp</th><th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: auto;">Tình trạng</th><th class="text-center sorting_disabled" rowspan="1" colspan="1">Ghi chú</th></tr>
                                    </thead>
                                    <tbody>


                                        <tr id="1317052108391289" role="row" class="odd">
                                            <th hidden="">DonDeNghiXetTotNghiep</th>
                                            <td>Đơn đề nghị xét tốt nghiệp</td>
                                            <td class="text-center">21/05/2017 </td>
                                            <td name="1317052108391289">Chờ giải quyết</td>
                                            <td style="max-width:150px"></td>
                                        </tr>
                                        <tr id="1317050508282435" role="row" class="even">
                                            <th hidden="">DonDeNghiXetTotNghiep</th>
                                            <td>Đơn đề nghị xét tốt nghiệp</td>
                                            <td class="text-center">05/05/2017 </td>
                                            <td name="1317050508282435">Chờ giải quyết</td>
                                            <td style="max-width:150px"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="datatable-footer"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Hiển từ 1 đến 2 trong tổng 2 mục</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">←</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">→</a></div></div>
                        </div>
                    </div>
                    <div id="modal_large" class="modal fade">
                    </div>
                    <script>

                        $('.confirm').on('click', function () {
                            var id = $(this).attr('id');
                            bootbox.confirm("Bạn có chắc chắn muốn hủy đơn này không?", function (result) {
                                if (result === true) {
                                    $.ajax({
                                        type: 'post',
                                        url: '/SinhVien/LichSuNopDon/HuyDon',
                                        data: { id: id },
                                        success: function (data) {
                                            $('td[name="' + id + '"]').empty().addClass('text-danger').append(data.ketQua);
                                            $('li #' + id).remove();
                                        }
                                    });
                                }
                            });
                        });

                        // Start - Datatable
                        $.extend($.fn.dataTable.defaults, {
                            autoWidth: false,
                            columnDefs: [{
                                orderable: false,
                                width: 'auto',
                                targets: [3]
                            }],
                            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
                            language: {
                                search: '<span>Tìm kiếm:</span> _INPUT_',
                                lengthMenu: '<a id="xuat-pdf" class="btn btn-default">Xuất PDF</a> <a data-target="#modal_large" id="xem-don" class="btn btn-default">Xem đơn</a> <a id="huy-don" class="btn btn-default">Hủy đơn</a>',
                                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                            },
                            drawCallback: function () {
                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                            },
                            preDrawCallback: function () {
                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                            }
                        });
                        // Sort by Date
                        $('.datatable-selection-single').DataTable({
                            ordering: false,
                        });

                        var singleSelect = $('.datatable-selection-single').DataTable();
                        $('.datatable-selection-single tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('success')) {
                                $(this).removeClass('success');
                            }
                            else {
                                singleSelect.$('tr.success').removeClass('success');
                                $(this).addClass('success');
                            }
                        });



                        $('.dataTables_filter input[type=search]').attr('placeholder', '');
                        $('.dataTables_length select').select2({
                            minimumResultsForSearch: "-1"
                        });
                        //End - Datatable
                        $('#xem-don').on('click', function () {
                            if (typeof singleSelect.$('tr.success').attr('id') == 'undefined') {
                                $(this).removeAttr("data-toggle", "modal");
                                $('body').find('.jGrowl').attr('class', '').attr('id', '').hide();
                                $.jGrowl('', {
                                    position: 'bottom-right',
                                    theme: 'bg-danger',
                                    header: 'Chọn đơn cần xem'
                                });
                            }
                            else {
                                var mssv2 = '1511170158';
                                $(this).attr("data-toggle", "modal");
                                $("#modal_large").empty();
                                $("#modal_large").load('/SinhVien/Export/' + singleSelect.cell('.success', 0).data() + '_Export/', { id: singleSelect.$('tr.success').attr('id'), mssv: mssv2 });
                            }
                        });
                        $('#xuat-pdf').on('click', function () {
                            if (typeof singleSelect.$('tr.success').attr('id') == 'undefined') {
                                $('body').find('.jGrowl').attr('class', '').attr('id', '').hide();
                                $.jGrowl('', {
                                    position: 'bottom-right',
                                    theme: 'bg-danger',
                                    header: 'Chọn đơn cần xuất PDF'
                                });
                            }
                            else {
                                var id = singleSelect.$('tr.success').attr('id');
                                window.location.href = "/SinhVien/Export/Index/" + id;
                            }
                        });

                        $('#huy-don').on('click', function () {
                            if (typeof singleSelect.$('tr.success').attr('id') == 'undefined') {
                                $('body').find('.jGrowl').attr('class', '').attr('id', '').hide();
                                $.jGrowl('', {
                                    position: 'bottom-right',
                                    theme: 'bg-danger',
                                    header: 'Chọn đơn cần hủy'
                                });
                            }
                            else {
                                var id = singleSelect.$('tr.success').attr('id');
                                bootbox.confirm("Bạn có chắc chắn muốn hủy đơn này không?", function (result) {
                                    if (result === true) {
                                        $.ajax({
                                            type: 'post',
                                            url: '/SinhVien/LichSuNopDon/HuyDon',
                                            data: { id: id },
                                            success: function (data) {
                                                if (data.ketQua == 1) {
                                                    $('td[name="' + id + '"]').empty().addClass('text-danger').append("Đã hủy");
                                                    $('li #' + id).remove();
                                                }
                                                else if (data.ketQua == 0) {
                                                    alert("Đơn của bạn đã được hủy rồi !!!")
                                                }
                                                else {
                                                    alert("Đơn của bạn đã được giải quyết !!!")
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    </script>

                </div>
                <div class="tab-pane" id="bottom-tab4">
                </div>
            </div>
        </div>
    </div>
</div>